/* for tablet or phone */
[class*="col-"] {
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
}

.b .col-12 .col-1{width: 8.33%;}
.b .col-12 .col-11{width: 91.66%;}

/* for tablet */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .cekFakta-s{
    padding: 20px 0px 0px 45px;
  }
  .populer-s{
    margin-top: 1px; 
    padding-left: 30px;
  }

  .populer-s h3{
    margin-bottom: 10px;
  }
  @media only screen and (min-width: 800px) {
    .marginL{width: 8.33% ;}
    .body {width: 83.33%;}
  }
}

/* for desktop */
@media only screen and (min-width: 980px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.marginL{width: 16.66%;}
.populer-s{padding-left: 0px;}
.populer-s h3{margin-top: 30px;}
.body{width: 66.66%;}

@media only screen and (max-width: 1500px) {
  .marginL{width: 8.33%;}
  .body{width: 83.33%;}
}
}

img{
  border-radius: 8px;
}

.a .image1, .a, .popular img, .popular{
  border-radius: 8px 8px 0px 0px;
}
  
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
}

a{
  text-decoration: none;
  color: black;
}

.a .line{
  border-top: 1px solid rgba(187,187,187,0.5);
  /* border-top: 1px solid #bbb; */
  /* margin: 5% 0% 5% 4.3%; */
  /* padding: 0% 5% 0% 5%; */
  padding: 10px;
}


.body, .marginL{
  float: left;
  /* background-color: brown; */
}

/* .c{
  background-color: aquamarine;
} */

/* .b{
  background-color: blue;
} */

.separator{
  border-top: 1px solid #bbb;
  opacity: 0.4;
  margin-bottom: 3%;
}

.list{
  border-bottom: 1px solid #bbb;
  margin-bottom: 15px;
  padding-bottom: 3%;
}
.a, .popular{
  /* background-color: blueviolet; */
  box-shadow: 0px 0px 0px 2px rgba(187,187,187,0.3);
}

.margL{margin-left: 10px;}
.margT{margin-top: 10px;}
.margB{margin-bottom: 10px;}

.titleM{
  padding: 25px 0px 10px 0px;
}

.content{
  /* background-color: red; */
  padding: 10px;
}

.space{
  margin: 10px;
}

.news{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(187,187,187,0.3);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.news p, .news h3{
  padding: 0% 0% 0% 3%;
}

.cekFakta{
  /* background-color: antiquewhite; */
  border-bottom: 1px solid rgba(187,187,187,0.5);
  margin-bottom: 8px;
}

.cekFakta h3{
  margin: 3% 0% 3% 2%;
}

.newsSide{
  display: flex;
  padding: 10px 0px 10px 5px;
  align-items: center;
  border-bottom: 1px solid rgba(187,187,187,0.5);
}

.newsSide img{
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 3%;
}

.tlStyle{
  margin: 0px 0px 10px 0px;
}

.rank{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    border-bottom: 1px solid #bbb;
    line-height: normal;
}

.rank h1{
    color: rgb(83, 83, 83);
    font-size: 50px;
    line-height: 15px;
    opacity: 0.5;
}

.rank div{
  /* background-color: aqua; */
  margin: 0px 10px 0px 10px;
}

.lineD{
  display: flex;
  justify-content: center;
  height: 40px;
}

footer{
  background-color: rgb(255, 142, 37);
  /* height: 40px; */
  clear: both;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.viewM{
  display: flex;
  justify-content: center;
  clear: both;
  padding: 30px 0px 30px 0px;
  /* background-color: aqua; */
}

button{
  background-color: white;
  color: black;
  border: 2px solid rgb(255, 142, 37) ;
  padding: 6px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  background-color: rgb(255, 142, 37);
  color: white;
}